<!-- <div class="connectBox">
    <h1 class="main">Get in Touch</h1>
    <form action="" method="">
        <div class="connectBlock">
<p class="connectLabel">Name: </p><input class="connectText" type="text">
        </div>
        <div class="connectBlock">
            <p class="connectLabel">Organization: </p><input class="connectText" type="text">
                    </div>
                    <div class="connectBlock">
                        <p class="connectLabel">E-mail: </p><input class="connectText" type="text">
                                </div>
                                <div class="connectBlock">
                                    <p class="connectLabel">Ph No: </p><input class="connectText" type="text">
                                            </div>
                                            <div class="connectBlock">
                                                <p class="connectLabel">I want to get in touch because: </p>
                                                
                                                <form action="" method="">
                                                    <div class="opForm">
                                                <input class="item_ connectText" id="one" type="button" value="Select" onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I’d like to contribute to Academic Paper" onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I’d like to Peer Review " onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I have comments on the Calculator " onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I want to use this/get API " onclick="msg()">
                                                    <input  class="item_ op connectText others" type="button" value="Others " onclick="msg()">
                                                    <input class="connectText otherText" type="text" placeholder="Enter reason to connect">
                                                    </div>
                                            </form>
                                        
                                            
                                                        </div>
                                                        <div class="connectBlock lastConnect">
                                                            <p class="connectLabel"></p><input class="result" type="button" value="Submit">
                                                                    </div>
     
 </div>
</div> -->
<%- include('header'); -%>

<div class="connectBox">
    <h1 class="main">Get in Touch</h1>
    <form action="" method="">
        <div class="connectBlock">
<p class="connectLabel">Name: </p><input class="connectText" type="text">
        </div>
        <div class="connectBlock">
            <p class="connectLabel">Organization: </p><input class="connectText" type="text">
                    </div>
                    <div class="connectBlock">
                        <p class="connectLabel">E-mail: </p><input class="connectText" type="text">
                                </div>
                                <div class="connectBlock">
                                    <p class="connectLabel">Ph No: </p><input class="connectText" type="text">
                                            </div>
                                            <div class="connectBlock">
                                                <p class="connectLabel">I want to get in touch because: </p>
                                                
                                                <form action="" method="">
                                                    <div class="opForm">
                                                <input class="item_ connectText" id="one" type="button" value="Select" onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I’d like to contribute to Academic Paper" onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I’d like to Peer Review " onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I have comments on the Calculator " onclick="msg()">
                                                    <input  class="item_ op connectText" type="button" value="I want to use this/get API " onclick="msg()">
                                                    <input  class="item_ op connectText others" type="button" value="Others " onclick="msg()">
                                                    <input class="connectText otherText" type="text" placeholder="Enter reason to connect">
                                                    </div>
                                            </form>
                                        
                                            
                                                        </div>
                                                        <div class="connectBlock lastConnect">
                                                            <p class="connectLabel"></p><input class="result" type="button" value="Submit">
                                                                    </div>
     
 </div>
</div>

<%- include('footer'); -%>