<div class="footerBox">
    <hr class="rule2">
    <footer>
        <div class="foot left"><a href="">Academic Paper</a><a class="black"  href="">Code Link</a><a class="black"  href="">About</a></div>
        <div class= "foot right"><p class="email">sonika@peopleplus.ai</p><a class="black last"  href="./connect">Let's Connect</a></div>
    </footer>
    </div>
    <script src="./index.js"></script>
    </body>
    </html>