<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">  <link rel="stylesheet" href="./style.css">
 </head>
<body>
    <div class="logo"><img class="im1" src="./images/logo.png" alt="people ai logo"></div>
    <hr class="rule1">
    <div class="imCont"><img class="earth_ai" src="./images/earth_ai.png" alt="ai generated image of earth">
    </div>
        <div class="earth_wrap">
 <h1 class="main">The Consumption Calculator</h1>